<%= form_with(model: term_option, local: true) do |form| %>
  <% if term_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(term_option.errors.count, "error") %> prohibited this term_option from being saved:</h2>

      <ul>
      <% term_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :terms_id %>
    <%= form.text_field :terms_id, id: :term_option_terms_id %>
  </div>

  <div class="field">
    <%= form.label :option_key %>
    <%= form.text_field :option_key, id: :term_option_option_key %>
  </div>

  <div class="field">
    <%= form.label :option_value %>
    <%= form.text_area :option_value, id: :term_option_option_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
