<div class="header-inner">
  <div class="header-top clearfix">
    <% if user_signed_in? %>
		<span id="user-info" class="pull-left">
			Logged in as <em><%= current_user.email %></em>.
		</span>
    <% end %>

    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
      <% end %>
    </ul>
  </div>

  <div class="header-middle text-center clearfix">
    <h1>Micro Blog</h1>
  </div>

</div>
